header 
{
    padding: 0px 0;
}
  
  .navbar-brand {

    font-size: 24px;
    
  }

  
  
  
  .navbar-nav .nav-item .nav-link {
    font-size: 18px;
  }
  
  /* Custom styles for the hero section */

  .MHome{
    background-image: url('./portfolio_home.gif');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: auto;  
    padding-bottom: 300px;                           
  }

  /* body{
    background-image: url('portfolio_home.gif');
    background-size: 100%; 
    background-position: center center;
    background-repeat: no-repeat; 
    height: 800px;  
  } */

  .MyAbout{
    background-image: url('bluewave.gif');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: auto;   
    padding: 100px;                        
  }
  .Mycontact{
    background-image: url('./Images/YourName-CoverImage.avif');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: auto;   
    padding: 100px;                        
  }

  .Mycontact p{
    color: #fff;
  }
  .Mycontact h3{
    color: #fff;
  }

  #hero {
    /* background-image: url('images/hero-bg.jpg'); */
    background-size: cover;
    background-position: center;
    padding: 20px 20px;
    margin-left: 150px;
  }
  
  
  #hero h1 {
    font-size: 56px;
    margin-bottom: 20px;
    color: rgb(233, 226, 226);
    margin-left: 100px;
  }
  
  #hero p {
    font-size: 28px;
    color: rgb(240, 229, 229);
    margin-left: 100px;
  }
  
  /* Custom styles for other sections */
  
  #HireMe{
    margin-left: 80px;
    color: white;
  }
  
  section h2 {
    font-size: 28px;
    margin-bottom: 30px;
  }
  
  /* Custom styles for the footer */
  footer {
    padding: 20px 0;
  }
  
  .social-icons img {
    width: 40px;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .navbar-brand {
      font-size: 20px;
    }
  
    .navbar-nav .nav-item .nav-link {
      font-size: 16px;
    }
  
    #hero h1 {
      font-size: 20px;
      color: white;
    }
  
    #hero p {
      font-size: 12px;
      color: white;
    }
  
    section {
      padding: 40px 0;
    }
  
    section h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 0px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px; /* Adjust as needed */
  }

  .MHome button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #080808;
    border: none;
    cursor: pointer;
    justify-content: center;
    background-position: center;
    margin-bottom: 100px;

  }
  
  .MHome button:hover {
    background-color: #b30009;
  }

  .about-me {
    padding: 50px 0;

  }
  .git{
      height: 100%;
  }

  .linkd{
     height: 100%;
  }

   .mblock{
     width: 60%;
     margin-left: 200px;
   }

  .Box_main{
    width: 120%;
    background-color: #0b0a0a;
    height: auto;
    padding: 20px;
    box-shadow: 0px 0 10px 10px #121111;
    margin-bottom: 20px;
    align-items: center;
}
  
  .about-me h2 {
    text-align: center;
    color:#fff;
    margin-bottom: 30px;
  }
  
  .about-me p {
    font-size: 18px;
    color:#fff;
    line-height: 1.6;

  }

  #mybt{
      margin-top: 350px;
      margin-left: 100px;
  }

