header {
    padding: 0px 0;
  }
  
  .navbar-brand {
    font-size: 24px;
  }
  
  .navbar-nav .nav-item .nav-link {
    font-size: 18px;
  }
  
  /* Custom styles for the hero section */

  .MHome{
    background-image: url('portfolio_home.gif');
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    background-repeat: no-repeat; 
    height: 800px;                          /* Adjust as needed */
  }

  #hero {
    /* background-image: url('images/hero-bg.jpg'); */
    background-size: cover;
    background-position: center;
    padding: 100px 100px;
  }
  
  #hero h1 {
    font-size: 56px;
    margin-bottom: 20px;
    color: white;
  }
  
  #hero p {
    font-size: 28px;
    color: white;
  }
  
  /* Custom styles for other sections */
  section {
    padding: 0px 0;
  }
  
  section h2 {
    font-size: 28px;
    margin-bottom: 30px;
  }
  
  /* Custom styles for the footer */
  footer {
    padding: 20px 0;
  }
  
  .social-icons img {
    width: 40px;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .navbar-brand {
      font-size: 20px;
    }
  
    .navbar-nav .nav-item .nav-link {
      font-size: 16px;
    }
  
    #hero h1 {
      font-size: 30px;
      color: white;

    }
  
    #hero p {
      font-size: 16px;
      color: white;
    }
  
    section {
      padding: 40px 0;
    }
  
    section h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px; /* Adjust as needed */
  }

  .MHome button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #080808;
    border: none;
    cursor: pointer;
    justify-content: center;
    background-position: center;

  }
  
  .MHome button:hover {
    background-color: #b30009;
  }

  .about-me {
    padding: 50px 0;
  }
  
  .about-me h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .about-me p {
    font-size: 18px;
    line-height: 1.6;
  }
  